{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <h1 class="mt-4">Search for a movie!</h1>
        <form action="/movie">
            <div class="form-group mt-4">
                <input class="form-control" type="text" name="movie" placeholder="Search" id="search" required>
                <button type="submit" class="btn btn-outline-primary btn-sm mt-2">Submit</button>
            </div>
        </form>
        <div class="col text-center mt-4">
            {% if movie_info %}
            <img src="{{movie_info['poster_url']}}" alt="" class="img-fluid">
        </div>

        <div class="col-6 mt-4">
            <h3>{{movie_info['title']}}</h3>
            <h5>Runtime: {{movie_info['formatted_runtime']}}</h5>
            <h5>Release Date: {{movie_info['release_date']|datetimeformat('%B %d, %Y')}}</h5>
            <h5>User Score: {{movie_info['user_score']}}</h5>

            <form action="/add-entry">
                {% for field in form if field.widget.input_type != 'hidden' %}

                <h6>
                    {{ field.label }}
                    {{ field }}

                    {% for error in field.errors %}
                    {{ error }}
                    {% endfor %}
                </h6>

                {% endfor %}
                <button class="btn btn-outline-success btn-sm">Submit</button>
            </form>
            {% endif %}
        </div>

        <div class="col-sm mt-4"></div>

    </div>
</div>

<hr>

<!-- <div class="row">
    <div class="mx-auto col-8 col-lg-8 col-lg-6">
        <h1 class="mt-4">Search for a TV show!</h1>
        <form action="/show">
            <div class="form-group mt-4">
                <input class="form-control" type="text" name="show" placeholder="Search" id="search">
                <button type="submit" class="btn btn-outline-primary btn-sm mt-2">Submit</button>
            </div>
        </form>


        {% if show_info %}
        <h3>{{show_info['title']}}</h3>
        <h5>First Air Date: {{show_info['first_air_date']|datetimeformat('%B %d, %Y')}}</h5>
        <h5>User Score: {{show_info['user_score']}}</h5>
        <img src="{{show_info['poster_url']}}" alt="">
        {% endif %}
    </div>
</div> -->

<!-- <hr> -->

{% endblock %}