{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5 m-4">
        <h2 class="join-message">{{ user.username }}'s Summary</h2>
        <p>Movies Watched</p>
    </div>

    <hr>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Watched Date</th>
                    <th scope="col">Username</th>
                    <th scope="col">Movie Title</th>
                    <th scope="col">Runtime</th>
                </tr>
                {% for entry in entries %}
                <tr>
                    <td>{{ entry.date }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ entry.title }}</td>
                    <td>{{ entry.runtime }} minutes</td>
                </tr>
                {% endfor %}
            </thead>
        </table>
    </div>


</div>

{% endblock %}